@import "tailwindcss";
@import "@nuxt/ui";


:root {
  --font-sans: 'Public Sans', sans-serif;

  --color-green-50: #EFFDF5;
  --color-green-100: #D9FBE8;
  --color-green-200: #B3F5D1;
  --color-green-300: #75EDAE;
  --color-green-400: #00DC82;
  --color-green-500: #00C16A;
  --color-green-600: #00A155;
  --color-green-700: #007F45;
  --color-green-800: #016538;
  --color-green-900: #0A5331;
  --color-green-950: #052E16;

  --color-primary: #1E40AF; /* Nuevo color primario */
  --color-secondary: #9333EA; /* Nuevo color secundario */
  --color-accent: #FACC15; /* Color de acento */

  --spacing-base: 1rem; /* Espaciado base */
  --spacing-lg: 1.5rem;
  --spacing-xl: 2rem;

  --font-heading: 'Poppins', sans-serif; /* Fuente para encabezados */
}

body {
  font-family: var(--font-sans);
  line-height: 1.6;
  color: var(--ui-color-neutral-900);
  background-color: var(--ui-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  margin-bottom: var(--spacing-base);
}

p {
  margin-bottom: var(--spacing-base);
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
  color: var(--ui-color-neutral-100);
}
